.mealOverlay {
  padding: 5px;
  box-sizing: border-box;
  height: fit-content;
  width: inherit;
}

.image {
  height: 250px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  width: inherit;
}

.content {
  padding: 5px 5px 5px 10px;
  height: fit-content;
  margin-bottom: 15px;
}

.button {
  margin-bottom: 10px;
}

.button button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: #8a2b06;
}

.button button:hover,
.button button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}
